<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>followingLetterDistributions</key>
	<dict>
		<key>a</key>
		<array>
            <integer>1</integer>
            <integer>21</integer>
            <integer>54</integer>
            <integer>106</integer>
            <integer>106</integer>
            <integer>118</integer>
            <integer>136</integer>
            <integer>141</integer>
            <integer>180</integer>
            <integer>181</integer>
            <integer>193</integer>
            <integer>250</integer>
            <integer>276</integer>
            <integer>457</integer>
            <integer>458</integer>
            <integer>478</integer>
            <integer>479</integer>
            <integer>554</integer>
            <integer>649</integer>
            <integer>753</integer>
            <integer>762</integer>
            <integer>782</integer>
            <integer>795</integer>
            <integer>796</integer>
            <integer>822</integer>
            <integer>823</integer>
        </array>
		<key>b</key>
		<array></array>
	</dict>
	<key>nameLengthCumulativeDist</key>
	<array>
		<integer>26</integer>
		<integer>688</integer>
		<integer>5303</integer>
		<integer>12280</integer>
		<integer>22821</integer>
		<integer>36162</integer>
		<integer>50554</integer>
		<integer>63838</integer>
		<integer>74917</integer>
		<integer>83385</integer>
		<integer>89154</integer>
		<integer>92854</integer>
		<integer>95126</integer>
		<integer>96328</integer>
		<integer>96996</integer>
		<integer>97279</integer>
		<integer>97437</integer>
		<integer>97501</integer>
		<integer>97541</integer>
		<integer>97557</integer>
		<integer>97558</integer>
		<integer>97563</integer>
		<integer>97565</integer>
	</array>
	<key>initialLetterCumulativeDist</key>
	<array>
		<integer>11602</integer>
		<integer>16304</integer>
		<integer>19815</integer>
		<integer>22485</integer>
		<integer>24492</integer>
		<integer>28271</integer>
		<integer>30221</integer>
		<integer>37453</integer>
		<integer>43739</integer>
		<integer>44336</integer>
		<integer>44926</integer>
		<integer>47631</integer>
		<integer>52014</integer>
		<integer>54379</integer>
		<integer>60643</integer>
		<integer>63188</integer>
		<integer>63361</integer>
		<integer>65014</integer>
		<integer>72769</integer>
		<integer>89440</integer>
		<integer>90927</integer>
		<integer>91576</integer>
		<integer>98329</integer>
		<integer>98346</integer>
		<integer>99966</integer>
		<integer>100000</integer>
	</array>
</dict>
</plist>
